body {
  background-image: radial-gradient(circle, rgb(208, 210, 218), rgb(115, 205, 233));
  overflow: auto;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 22%;
  background-color: rgb(72, 72, 73);
  color: white;
}

.contact a {
  color: black;
  margin-left: 1%;
}

img {
  border-radius: 4px;
  margin-top: 3%;
  opacity: 0.7;
}

hr {
  border: 2px solid white;
}

form {
  margin-top: 3%;
  margin-right: 5%;
  border-radius: 5px;
  background-image: linear-gradient(-90deg, rgb(104, 186, 230), rgb(250, 245, 245));
  padding: 20px;
}

#formUpload{
  margin-top: 3%;
  margin-right: 5%;
  border-radius: 5px;
  background-image: linear-gradient(90deg, rgb(104, 186, 230), rgb(250, 245, 245));
  padding: 20px;
}

input[type=text], input[type=password], input[type=number], select,
input[type=file],input[type=date] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=button],input[type=submit]{
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.sidenav {
  height: 75%;
  width: 200px;
  position: fixed;
  border-right: 1px solid black;
  top: 0;
  left: 0;
  background-image: linear-gradient( rgb(66, 151, 197), rgb(16, 185, 190));
  padding-top: 20px;
  text-align: center;
}

#logo{
  background-image: radial-gradient(circle, rgb(208, 210, 218), rgb(115, 205, 233));
  text-align: center;
  padding-top: 2%;
}
.sidenavContent{
  overflow: auto;
  height: 75%;
}

.sidenavContent a {
  text-decoration: none;
  font-size: 25px;
  display: block;
  padding-top: 2%;
  padding-bottom: 2%;
  color: black;
}

.sidenav a:hover {
  color: lightgray;
}

.sidenav span {
  text-decoration: none;
  font-size: 25px;
  height: 15%;
  display: block;
  color: black;
}

.main {
  margin-left: 200px;
  margin-top: -10px;
}

.user {
  padding-left: 2%;
  padding-right: 2%;
  margin: 0;
  text-decoration: none;
  font-size: 25px;
  height: 15%;
  display: block;
  color: black;
}

#tambahJadwal {
  height: 400px;
  position: relative;
  text-align: center;
  background-image: linear-gradient( rgb(66, 151, 197), rgb(16, 185, 190));
}

#tambahJadwal a {
  text-decoration: none;
  color: rgba(5, 5, 5, 0.774);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: larger;
}

#tambahJadwal a:hover{
  color: white;
}
.user a {
  border-left: 1px solid white;
  padding-left: 2%;
  font-size: 20px;
  text-align: center;
  float: right;
  margin-top: 30px;
  color: black;
  text-decoration: none;
}

.user a:hover {
  color: white;
}

#section {
  margin-top: 2%;
  width: 25%;
  float: right;
  border-left: 1px solid white;
  padding-left: 2%;
  text-align: center;
  margin-bottom: 30%;
}

#section a{
  text-align: center;
}

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(66, 71, 66, 0.8);
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

@media screen and (max-width: 700px) {
  .sidenav {
      width: 100%;
      height: auto;
      position: relative;
      margin-bottom: 5%;
  }
  .main {
      width: 100%;
      height: auto;
      position: relative;
      margin: 0;
  }
  .user {
      font-size: 20px;
  }
  .user a {
      margin-top: 20px;
  }
}

@media screen and (max-width: 400px) {
  .sidenav {
      text-align: center;
      float: none;
      margin: 0;
      margin-bottom: 5%;
  }
  .main {
      width: 100%;
      height: auto;
      text-align: center;
      overflow: auto;
  }
  .user {
      text-align: center;
      overflow: auto;
      float: none;
  }
  .user a {
      font-size: 10px;
  }
}